<div class="row row-centered">
   <div class="col-md-8">
      <div class="py-5 text-center">
         <h2>Aplikacja Notatki</h2>
         <p class="lead">Below is an example form built entirely with Bootstrap's form controls. Each required form group has a validation
            state that can be triggered by attempting to submit the form without completing it.</p>
         <div class="text-center">
            <a href="/editor" class="btn btn-primary">Przejdź do aplikacji...</a>
         </div>
      </div>
   </div>
</div>